body {background-color:#555;}
.navbar-fixed {position: absolute;z-index:999999999;}

.parallax-container {
     height: 600px;
   }

blockquote{
  border-color: green;
}

#block{
  padding-top: 70px;
}

#logoTitle{
  font-family: Brush Script MT;
  font-size: 50px;
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#logo{
  float: left;
}

#block1{
  padding-top: 170px;
}

#border1{
  border-right:5px solid green;
  border-left:0px;
  padding-right:1.5rem;
}

#chill{
  height:210px;
}

#infoSide{
  padding-top: 100px;
}

#nameSideNav{
  font-size: 40;
}
